<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Face2Face - Actually Meet People Online</title>
    <link rel="stylesheet" href="public/styles.css" type="text/css"/> <!--custom CSS-->
</head>
<body>
<div class="container">