<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Face2Face - Actually Meet People Online</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top: 80px; }
        h1          { text-align: center;}
        h4          { text-align: center; color: gray; font-weight: 300;}
        img         { width: 100%; display: block; margin: 0 auto; }
        p           { text-align: center;}
        img.profileIcon { width: 40px; display: inline-block; float: left;}
        img.matchesIcon { width: 40px; display: inline-block; float: right; }
        img.frontLogo { width: 100%; }
        h4.appName  { text-align: center; color: black; font-weight: 500; font-size: 36px;}
    </style>
    <link rel="stylesheet" href="public/styles.css" type="text/css"/> <!--custom CSS-->
</head>
<body>
<div class="container">