<% include head.ejs%>

    <div class="col-sm-6 col-sm-offset-3">

        <!--<h1><span class="fa fa-sign-in"></span> Loginhey</h1>-->
        <h1 className="appName">Face2Face</h1>
        <h4 className="slogan">Actually Meet People Online</h4>

        <% if (message.length) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <hr>
        <div>
            <a style="margin-right:15px" href="/auth/facebook"><img className="fbBanner" src="public/assets/fb-banner.png" /></a>
        </div>
        <hr>

        <p><a href="/">home</a></p>

    </div>

<% include foot.ejs%>